html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lexa API
        link(rel="shortcut icon", href="https://i.pinimg.com/originals/77/8b/2f/778b2f19faa9437b091f41d2fe8d0984.jpg", type="image/x-icon")
    body
        h1 Welcome
        p This is API build for learning purpose