html {
  margin: 0.5vw !important;
  margin-top: 9px !important;
}
body {
  background-color: black !important;
}

.product-categories {
  background-color: #1b1c1d;
  margin: 4px !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  padding: 0 1vh;
}

.contents-section {
  margin: 0 5px;
  margin-bottom: 10vh;
}

@media only screen and (min-width: 700px) {
  .header-container {
    position: fixed;
    background: black;
    z-index: 12;
    top: 0px;
  }

  .contents-section {
    position: relative;
    top: 120px;
  }
}

.scroll-up-btn__mobile-screen_only {
  display: none;
}

@media (max-width: 820px) {
  .scroll-up-btn__mobile-screen_only {
    display: block;
    float: left;
    position: fixed;
    bottom: 5%;
    left: 2%;
    height: 50px;
  }
}

@media (min-width: 1023px) {
  .scroll-up-btn__mobile-screen_only {
    float: left;
    position: fixed;
    bottom: 50%;
    left: 2%;
    height: 50px;
  }
}

* {
  -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d1c8c8;
}
