html {
  margin: 0.5vw !important;
  margin-top: 9px !important;
}
body {
  background-color: black !important;
}

.product-categories {
  background-color: #1b1c1d;
  margin: 4px !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  padding: 0 1vh;
}

@media only screen and (min-width: 900px) {
  .header-container {
    position: fixed;
    background: black;
    z-index: 12;
    top: 0px;
  }

  .contents-section {
    position: relative;
    top: 175px;
  }
}

@media (max-width: 900px) {
  .scroll-up-btn__mobile-screen_only {
    float: left;
    position: fixed;
    bottom: 5%;
    left: 2%;
    height: 50px;
  }
}
