.form-container {
  margin: 2vh 20vw;
}

.form-label {
  display: block;
  padding: 3px;
}

.form-input {
  outline: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 10px 8px 14px cadetblue;
  border-style: none;
}

.form-label {
  margin: inherit;
}

.form-button {
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: cornflowerblue;
  margin-top: 2vh;
  padding: 5px;
}
