@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.home-page-lexa-tagline {
  color: white;
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  animation: backInLeft 2s;
  font-size: 50px;
  .a2 {
    display: block;
  }
}
