@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

.music-player-box {
  background-color: rgba(255, 255, 255, 0.363);
  border-radius: 20px;
}

.music-player__control {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr;
  justify-items: center;
}

@media (max-width: 890px) {
  .music-player__control {
    grid-template-columns: 1fr;
  }
}

.music-player__control-Btn {
  cursor: pointer;
}

.music-player__control-Btn:active {
  animation: bounceIn;
  animation-duration: 0.5s;
}

.music-player__currentTrack {
  justify-self: center;
  align-self: center;
  animation: fadeOut 3s infinite;
  color: white;
  font-family: "Handlee", cursive;
  width: 98%;
  overflow: hidden;
}
