.product-detail-image-conatiner {
  width: 70px;
  border-radius: 3px;
  cursor: pointer;
}

.product-detail-image {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  max-height: 70px;
}
.product-detail-image-desc-container {
  display: flex;
  justify-content: center;
}

.product-detail-imagelist__viewer {
  width: 360px;
  height: 365px;
  background-color: white;
  margin-left: 5px;
  border-radius: 10px;
}

.product-detail-image-view {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.product-detail-description-container {
  width: 550px;
  height: 365px;
  margin-left: 5px;

  background-color: white;
  border-radius: 10px;
  display: grid;
  .product-detail_name_and_price,
  .product-detail_seller_and_ratings,
  .product-detail_similar_products,
  .product-detail_features-list {
    padding: 0 2%;
    margin: 5px;
    width: 545px;
  }

  .product-detail_similar_products__container {
    display: flex;
    overflow-y: hidden;
    .btn-block {
      font-size: 8px;
      background-color: rgba(128, 128, 128, 0.521);
      margin-right: 2px;
    }
  }

  .product-detail_similar_products__container > p {
    margin: 4px;
  }

  .product-detail_features-list {
    overflow-x: auto;
  }
}

.product-detail-description-payment__checkout {
  width: 270px;
  height: 365px;
  margin-left: 5px;
  background-color: white;
  border-radius: 10px;
}

.product-detail-description-payment__cart-btn,
.product-detail-description-payment__buy-btn {
  text-align: center;
  button {
    padding: 5%;

    border-radius: 10px;
    border: none;
    outline: none;
    width: 95%;
    margin: 5px;
    cursor: pointer;
  }

  button:active {
    animation-name: clickAnimation;
    animation-duration: 0.1s;
    animation-fill-mode: backwards;
  }
}

.product-detail-description-payment__cart-btn {
  button {
    background-color: rgba(248, 248, 43, 0.507);
  }
}

.product-detail-description-payment__buy-btn {
  button {
    background-color: rgba(248, 166, 43, 0.507);
  }
}

@keyframes clickAnimation {
  0% {
    box-shadow: 0px 0px 15px black;
  }
  50% {
    box-shadow: 0px 0px 50px black;
  }
  100% {
    box-shadow: 0px 0px 125px black;
  }
}

@media (max-width: 1298px) {
  .product-detail-description-container {
    width: 460px;

    .product-detail_name_and_price,
    .product-detail_seller_and_ratings,
    .product-detail_similar_products,
    .product-detail_features-list {
      padding: 0 2%;
      margin: 5px;
      width: 450px;
    }
  }
}

@media (max-width: 1205px) {
  .product-detail-description-container {
    width: 353px;

    .product-detail_name_and_price,
    .product-detail_seller_and_ratings,
    .product-detail_similar_products,
    .product-detail_features-list {
      padding: 0 2%;
      margin: 5px;
      width: 345px;
    }
  }
}

@media (max-width: 1032px) {
  .product-detail-description-payment__checkout {
    width: 270px;
    height: 478px;
  }
  .product-detail-imagelist__viewer {
    width: 480px;
    height: 478px;
    background-color: white;
    margin-left: 5px;
    border-radius: 10px;
  }
  .product-detail-image-conatiner {
    width: 92px;
  }

  .product-detail-description-container {
    width: 855px;
    margin: auto;
    margin-top: 7px;

    .product-detail_name_and_price,
    .product-detail_seller_and_ratings,
    .product-detail_similar_products,
    .product-detail_features-list {
      padding: 0 2%;
      margin: 5px;
      width: 852px;
    }
  }
}

@media (max-width: 881px) {
  .product-detail-description-payment__checkout {
    width: 270px;
    height: 300px;
  }
  .product-detail-imagelist__viewer {
    width: 300px;
    height: 300px;
    background-color: white;
    margin-left: 5px;
    border-radius: 10px;
  }
  .product-detail-image-conatiner {
    width: 57px;
  }

  .product-detail-description-container {
    width: 634px;
    margin: auto;

    .product-detail_name_and_price,
    .product-detail_seller_and_ratings,
    .product-detail_similar_products,
    .product-detail_features-list {
      padding: 0 2%;
      margin: 5px;
      width: 622px;
    }
  }
}

@media (max-width: 672px) {
  .product-detail-description-payment__checkout {
    width: 180px;
  }
  .product-detail-description-container {
    width: 550px;
    margin: auto;

    .product-detail_name_and_price,
    .product-detail_seller_and_ratings,
    .product-detail_similar_products,
    .product-detail_features-list {
      padding: 0 2%;
      margin: 5px;
      width: 540px;
    }
  }
}

@media (max-width: 582px) {
  .product-detail-description-container {
    width: 360px;
    margin: auto;

    .product-detail_name_and_price,
    .product-detail_seller_and_ratings,
    .product-detail_similar_products,
    .product-detail_features-list {
      padding: 0 2%;
      margin: 5px;
      width: 350px;
    }
  }

  .product-detail-description-payment__checkout {
    margin-top: 5px;
    width: 360px;
    margin: auto;
    margin-top: 5px;
  }
}

.quantity-container {
  font-size: 14px;
  font-weight: bold;
  .limited {
    color: red;
  }
  .in-stock {
    color: green;
  }
}
