.product-review-container__input {
  padding: 15px 5px;
}

.product-review-input__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  p {
    color: white;
    font-size: 18px;
    font-family: fangsong;
  }
}

.product-review__input {
  label {
    display: block;
    color: white;
    padding: 9px 0px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
  }

  input {
    width: 70vw;
    padding: 1%;
    border: none;
    outline: none;
    border-radius: 7px;
  }

  textarea {
    resize: vertical;
    width: 100%;
    padding: 1%;
    border: none;
    outline: none;
    border-radius: 7px;
  }
}

.optional-review-tab {
  font-size: 12px;
  color: grey;
}

.product-review__imageUploader {
  color: white;
  h3 {
    font-family: "Times New Roman", Times, serif;
  }
  p {
    color: grey;
  }
  button {
    margin-top: 10px;
  }
}

.review-image-selector {
  height: 32px;
  width: 90px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: rgba(255, 174, 0, 0.836);
  border-radius: 5px;
  text-align: center;
  margin-top: 9px;
  p {
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 7px !important;
    color: #000;
  }
  input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    font-size: 50px;
    opacity: 0;
  }
}

.images-warning {
  color: rgba(255, 0, 0, 0.781) !important;
}
