.product-review-header {
  color: white;
}

.product-review-container {
  color: white;
  .reviewer {
    display: flex;
    align-items: center;
    img {
      height: 20px;
      width: 20px;
      margin: 2px;
      margin-right: 10px;
    }
    p {
      font-weight: 600;
      color: black;
    }
  }
}

.product-review {
  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 7px;
  color: black;
  padding: 5px 10px;
  margin: 5px;

  p {
    color: grey;
  }

  .rating {
    display: flex;
  }

  .title {
    font-size: 15px;
    font-weight: 600;
  }

  .review {
    padding: 0 5px;
  }

  .review-helpful-or-not {
    padding: 10px 5px;
    p {
      color: grey;
    }

    button {
      background-color: rgba(255, 174, 0, 0.836);
      padding: 1%;
      border: none;
      outline: none;
      border-radius: 8px;
      cursor: pointer;
    }
    button:active {
      box-shadow: 0px 0px 15px white;
      background-color: grey;
    }
  }
}

.review-loader {
  height: 20vh;
  text-align: center;
  img {
    height: 100%;
  }
}

.product-review-images-container {
  display: flex;
  height: 130px;
  overflow-y: hidden;
  padding: 6px;

  img {
    box-shadow: 5px 5px 2px rgba(51, 51, 51, 0.295);
    height: 100%;
    margin-right: 9px;
    border-radius: 20px;
    object-fit: contain;
  }
}
