.from-manufacturer-header {
  color: white;
}

.from-manufacturer__brief {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.product-based-boards {
  margin: 10px;

  img {
    margin-top: -6px;
  }
}
