.products-container {
  display: grid;
  margin: 15px 9vw;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 900px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}

.product-card {
  border-radius: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 4px 4px 10px white;
}

.product-card__image {
  object-fit: cover;
  width: 100%;
  border-radius: inherit;
  opacity: 0.8;
  height: 45vh;
}

.product-card__price {
  margin-bottom: 2vh;
}

.product-card__reviewstar {
  height: 5vh;
}
