.products-search__bar {
  width: 36vw;
  .input-bar {
    width: 98%;
    border-radius: 7px;
    height: 100%;
    outline: none;
    border: none;
  }
  @media (max-width: 702px) {
    .input-bar {
      margin-left: 5px;
    }
  }
}

.searched-product__details {
  width: 34vw;
  margin-left: 7px;
  position: absolute;
  color: black;
  background-color: rgb(255, 255, 255);
  margin-top: 2px;
  border-radius: 7px;
  height: 20vh;
  overflow-y: auto;
  animation-name: backInDown;
  animation-duration: 0.1s;
  z-index: 60;

  .search-products-results {
    background-color: white;
    padding: 2%;
    margin-bottom: 2px;
    cursor: pointer;

    h5 {
      font-size: 10px;
    }
    p {
      font-size: 8px;
    }
  }
}

.search-in-option {
  padding: 5px;
  background-color: white;
  cursor: pointer;

  img {
    height: 10px;
    margin-left: 5px;
  }
}
