@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.secondary-header-menu {
  margin: 4px !important;
}
.secondary-header {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr) 2fr 1fr 1fr;
  align-items: stretch;
  justify-items: center;
}

.nav-links {
  width: 89%;
  font-family: "Tangerine", cursive !important;
}

.secondary-header-mobile {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
