.settings-container {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.842);
  width: 75vw;
  border-radius: 7px;
  padding: 10px;
}

.settings-container__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  .settings-container_box {
    background-color: rgba(206, 235, 225, 0.788);
    padding: 7px;
    border-radius: 7px;
    display: grid;
  }

  .settings-container_btn {
    width: 100%;
    padding: 3%;
    border: none;
    border-radius: 10px;
    outline: none;
  }

  .settings-container_btn:active {
    background-color: rgba(128, 128, 128, 0.808);
  }
  .settings-container__personal-info {
  }
}
