.uploaded-image-viewer {
  display: flex;
  overflow-y: hidden;
  height: 75px;
  margin-bottom: 10px;
  img {
    height: 100%;
    margin-right: 5px;
    border-radius: 9px;
    box-shadow: 4px 2px 3px rgba(34, 33, 33, 0.603);
  }
}
