.video-player-container {
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.705);
}

#videoPlayer {
  border-radius: 20px;
  padding: 5px;
  width: 65%;
  height: 50%;
}
