.video-player-container {
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/51/28/ac/5128acd7cfde2b203d34985b7b2bfffb.gif");
  background-size: contain;
}

#videoPlayer {
  border-radius: 20px;
  padding: 5px;
  width: 65%;
  height: 50%;
}
